.back {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.back::before {
  width: 100%;
  height: 100%;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./../../image/deliciousMeal.jpg"),
    linear-gradient(to right, rgb(133, 133, 133), rgb(105, 105, 105));
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  filter: blur(4px) brightness(80%);
  z-index: -1;
}
.shopping:hover {
  transform: scale(1.3);
}
@keyframes fadeIn {
  from {
    opacity: 0.8;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
